.WOFshow {width:500px;height:400px;padding:0;}
.WOFshow .WOFshowtable {width:500px;height:400px;}
.WOFshow .WOFshowtable td {vertical-align:top;}
.WOFshow .WOFshowtable td p {color:#333;text-indent:2em;padding-top:20px;}
















